<header style="background-image: url('assets/img/banner-police.jpg'); height: 600px;">
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-sm-2">
            <div class="logo">
                <!-- <img class="logoImg" src="assets/img/logo-2.jpg" alt="logo"> -->
                <h3 style="color: rgb(1, 1, 77); font-weight: 600;">Nagpur Police</h3>
            </div>
        </div>
        <div class="col-sm-8">
            <!-- <div class="heading">
                <div class="row">
                    <h2>Crime Report : NAGPUR</h2>
                </div>
                <div class="row">
                    <h4 class="slogan">"You Must Be The Change You Wish To See In The World"</h4>
                </div>
            </div> -->
            <div class="row nav ">
              <div class="col-md-8"></div>
              <div class="col-md-4">
                <div class="col-md-6 border-right text-right">
                  <a [routerLink]="['../home']" data-toggle="modal" data-target="#login"><h4>Home</h4></a>
                </div>
                <!-- <div class="col-md-2 border-right">
                  <a [routerLink]="['../login']"><h4>SignIn</h4></a>
                </div>
                <div class="col-md-2 border-right">
                  <a [routerLink]="['../register']"><h4>SignUp</h4></a>
                </div> -->
                <div class="col-md-6">
                  <a href=""></a><h4>About Us</h4>
                </div>
              </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</header>

<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="row">
      <ul class="navbar-nav col-sm-12">
        <ng-container *ngIf="view == 'login'">
              <div class="col-sm-9">
                    <a class="nav-link nav-item mg-l-30 active" [routerLink]="['../dashboard']">Dashboard</a>
              </div>
              <div class="col-sm-3">
                
                  <div class="row">
                      <div class="col-sm-4">
                        <a class="nav-link nav-item txt-center" (click)="goToLogout()">LogOut</a>
                      </div>
                      <div class="col-sm-8">
                        <a class="nav-link nav-item txt-center" [routerLink]="['../form']">Report Complaint</a>
                      </div>
                  </div>
                
              </div>
            </ng-container>
            <ng-container *ngIf="view == 'logout'">
                <div class="col-sm-10">
                    <a class="nav-link nav-item mg-l-30 active" [routerLink]="['../home']">Home</a>
              </div>
              <div class="col-sm-1">
                <a class="nav-link nav-item txt-center" [routerLink]="['../login']">Login</a>
              </div>
              <div class="col-sm-1">
                    <a class="nav-link nav-item txt-center" [routerLink]="['../register']">Register</a>
              </div>
            </ng-container>
            
      </ul>
    </div>
    </div>
  </nav> -->


<div class="modal">
  <div class="login">
    hello
  </div>
</div>